<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Places & Hotels</title>
</head>
<body>
    <h2><%= CityName %></h2>
    <div>
        <% for(var i=0; i< placeData.length; i++) { %>
            <table>
                <tbody>
                    <tr>
                        <td><br><%= placeData[i].name %> <br><br> <img src='<%= placeData[i].image %>' width="400" height="300" alt="No image found"> 
                            <br><%= placeData[i].description %><br></td>
                    </tr>
                </tbody>
    
            </table>
        <%	} %>
    
    </div>
</body>
</html>