<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form id="Login_id" action="/user/login" method="post">
        <input type="text" name="username"  placeholder=" Username"><br><br>
        <input type="password" name="password" placeholder=" Password"><br><br>
        
        <button type="submit" name="action" value="login">Login</button>
      </form>
        <a href="/user/register">New User? Register here.</a>
</body>
</html>