<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet/styles.css" type="text/css">

    <title>Search City</title>
</head>
<body style="overflow: hidden; margin-top: 0%; width: 100%;">
    <div class="searchcity_style">
        <div class="searchCity_error_msg_style"> 
            <% if(errMessage){ %>
                <p><%= errMessage %></p>
            <% } %>
        </div>
        <form action="/cities/home" method="POST">
            <input type="text" name= "city" placeholder="Search City to Explore.." required>
            <button class="button_search" type="submit" name="action" value="searchCity">Search</button>
        </form> 
    </div>
     
</body>
</html>