body, html {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
/* Login page style */

.login_style{
    background-image: url(../images/login.jpg);
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.login_style h2{
    font-family: 'amatic SC', sans-serif;
    color: black;
    margin-left: 72%;
    font-size: 80px;
    font-weight: bold;
}

.error_msg_style p{
    margin-left: 71%;
    font-size: 17px;
    color: rgb(202, 6, 6);
    font-weight: bold;
}

.login_style input[type=text] {
    width: 25%;
    margin-left: 65%;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.login_style input[type=password] {
    width: 25%;
    margin-left: 65%; 
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.button_login{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 30px 6px 30px;
    border-radius:4px;
    margin-left:74%;
    margin-top: 15px;
}

.login_style a{
    color: black;
    margin-left: 72%;
    font-size: 18px;
}

.login_style a:hover{
    color: rgb(31, 31, 173)
}



/* Register page style */

.register_style{
    background: url(../images/register.jpg);
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.register_style input[type=text] {
    width: 40%;
    margin-left: 30%;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    margin-top: 4%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.register_style input[type=email] {
    width: 40%;
    margin-left: 30%; 
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.register_style input[type=password] {
    width: 40%;
    margin-left: 30%; 
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.button_register{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 40px 6px 40px;
    border-radius:4px;
    margin-left:45%;
    margin-top: 25px;
}

.reg_error_msg_style{
    margin-left: 38%;
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 17px;
    color: rgb(202, 6, 6);
   
}

/* Search city page style */

.searchcity_style{
    height: 100%;
    background: url(../images/search_city_2.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.searchCity_error_msg_style{
    margin-left: 45%;
    margin-bottom: 0;
    margin-top: 16%;
    font-size: 18px;
    color:white;
    font-weight: bold;
}

.searchcity_style input[type=text] {
    width: 60%;
    height: 30px;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 2%;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
}

.button_search{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 40px 6px 40px;
    border-radius:4px;
    margin-left:45%;
    margin-top: 25px;
}

/* City Information page style */

.city_name_style h2{
    background-color: yellow;
    font-family: 'amatic SC', sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-synthesis: weight;
}
.city_name_style a{
    font-family: 'Cousine', sans-serif;
    color: black;
    font-size: 20px;
    font-synthesis: weight;
} 

#a_place{
    margin-left: 100px;
}

#a_place:hover{
    color:slateblue;
}

#a_cusine{
    margin-left: 20px;
}

#a_cusine:hover{
    color: slateblue;
}

#a_logout{
    float: right;
    margin-right: 80px;
}

#a_logout:hover{
    color: red;
}

.place_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 39.5%;
    height: 65%;
    border-radius: 4px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
  
.place_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.place_card img {
    border-radius: 2px 2px 0 0;
}
  
.place_container {
    padding: 2px 6px;
}

.conplace_containertainer p{
    text-align: justify;
}

/* Admin Home page style */
table{
    margin-left: auto;
    margin-right: auto;
}

.adminhome_style input[type=text]{
    width: 25%;
    height: 30px;
    margin-left: 35%; 
    margin-right: 35px;
    margin-top: 2%;
    padding: 8px;
    border: 0;
    border: 1px solid black;
    resize: vertical;
    color: black;
    font-size: 15px;
}

#admin_logout{
    float: right;
    margin-right: 10%;
    margin-top: 2.1%;
    font-weight: bold;
    font-size: 17px;
}

#admin_logout:hover{
    color: red;
}
.edit_button{
    font-size: 13px;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 30px 6px 30px;
    border-radius:4px;
    margin-top: 2%;
}


/* Edit information page style  */



  
